<footer>
  <div class="row">
    <ul class="grid">
      <li class="middle">
        <a href="https://twitter.varen.finance" class="footer-logo" title="Varen Decentralized Finance - Twitter Profile">
          <amp-img width="40" height="40" layout="responsive" src="assets/images/twitter.svg" alt="Varen Decentralized Finance - Twitter Profile"></amp-img>
        </a>
        <a href="https://github.varen.finance" class="footer-logo" title="Varen Decentralized Finance - GitHub Profile">
          <amp-img width="40" height="40" layout="responsive" src="assets/images/github.svg" alt="Varen Decentralized Finance - GitHub Profile"></amp-img>
        </a>
        <a href="https://blog.varen.finance" class="footer-logo" title="Varen Decentralized Finance - Blog">
          <amp-img width="40" height="40" layout="responsive" src="assets/images/medium.svg" alt="Varen Decentralized Finance - Blog"></amp-img>
        </a>
        <a href="https://telegram.varen.finance" class="footer-logo" title="Varen Decentralized Finance - Telegram Channel">
          <amp-img width="40" height="40" layout="responsive" src="assets/images/telegram.svg" alt="Varen Decentralized Finance - Telegram Channel"></amp-img>
        </a>
        <a href="https://discord.varen.finance" class="footer-logo" title="Varen Decentralized Finance - Discord Server">
          <amp-img width="40" height="40" layout="responsive" src="assets/images/discord.svg" alt="Varen Decentralized Finance - Discord Server"></amp-img>
        </a>
      </li>
      <li class="middle">
        <a href="https://www.coingecko.com/en/coins/varen" class="footer-logo" title="Varen Decentralized Finance on Coingecko">
          <amp-img width="40" height="40" layout="responsive" src="assets/images/coingecko.svg" alt="Varen Decentralized Finance on Coingecko"></amp-img>
        </a>
        <a href="https://coinmarketcap.com/currencies/varen/" class="footer-logo" title="Varen Decentralized Finance on CoinMarketCap">
          <amp-img width="40" height="40" layout="responsive" src="assets/images/coinmarketcap.svg" alt="Varen Decentralized Finance on CoinMarketCap"></amp-img>
        </a>
        <a href="https://defipulse.com/varen" class="footer-logo" title="Varen Decentralized Finance on Defi Pulse">
          <amp-img width="40" height="40" layout="responsive" src="assets/images/defipulse.svg" alt="Varen Decentralized Finance on Defi Pulse"></amp-img>
        </a>
        <a href="https://app.zerion.io/market/asset/VRN-0x72377f31e30a405282b522d588aebbea202b4f23" class="footer-logo" title="Varen Decentralized Finance on Zerion">
          <amp-img width="40" height="40" layout="responsive" src="assets/images/zerion.svg" alt="Varen Decentralized Finance on Zerion"></amp-img>
        </a>
      </li>
    </ul>
  </div>
</footer>
