<!--=== Header ===-->
<header>
  <div class="row">
    <div class="grid">
      <div class="grow logo-c">
        <a href="{{home.url}}" class="logo" title="{{home.title}}">
          <amp-img
            alt="Varen Decentralized Finance"
            width="128"
            height="128"
            layout="responsive"
            src="assets/images/logo-square.svg">
            <amp-img
              alt="Varen Decentralized Finance"
              fallback
              width="128"
              height="128"
              layout="responsive"
              src="assets/images/logo-square.png"></amp-img>
          </amp-img>
        </a>
      </div>
    </div>
  </div>
</header>
<!--=== End Header ===-->
