.button {
  appearance: none;
  border: none;
  font-size: rem-calc(20);
  padding: $space-small 0;
  color: $color-white;
  background-color: $color-highlight;
  transition: background-color .5s;
  border-radius: 6px;
  width: rem-calc(320);
  max-width: 100%;
  display: inline-block;
  text-align: center;

  &:hover,
  &:active,
  &:focus {
    outline: none;
    cursor: pointer;
    background-color: $color-highlight-dark;
    color: $color-white;
  }
}

@media all and (min-width: $breakpoint-medium) {
  .button {
    padding: $space-default 0;
    width: rem-calc(450);
  }
}
