@font-face {
  font-family: 'MonumentExtended-Regular';
  src: local('Formular Bold'), url('/assets/fonts/monument-extended-regular.woff2') format('woff2'),
    url('/assets/fonts/monument-extended-regular.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
