@font-face {
  font-family: 'MonumentExtended';
  src: local('Formular Bold'), url('/assets/fonts/monument-extended-regular.woff2') format('woff2'),
    url('/assets/fonts/monument-extended-regular.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'AvenirBook';
  src: local('Formular Bold'), url('/assets/fonts/avenir-book.woff2') format('woff2'),
    url('/assets/fontsavenir-book.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
