footer {
  display: flex;
  overflow: hidden;
  padding: 0;

  p {
    margin: 0;
  }

  .footer-logo {
    width: $logo-footer-height;
    height: $logo-footer-height;
    display: block;
    margin: 0 $space-small 0 0;
    opacity: .6;

    &:hover,
    &:focus {
      opacity: 1;
    }
  }

  .grid {
    flex-wrap: wrap;

    > * {
      justify-content: center;
      flex: 0 0 100%;

      &:nth-child(1) {
        order: 1;
      }

      &:last-child {
        order: 2;

        .footer-logo {
          &:last-child {
            margin: 0;
          }
        }
      }
    }
  }
}
