@import "mixins";

// REM Base do not change this value
$rem-base: 16;

// Space Variables
$space-xlarge: rem-calc(40);
$space-large: rem-calc(30);
$space-default: rem-calc(20);
$space-small: rem-calc(10);
$space-tiny: rem-calc(5);

$space-grid: $space-small;


// Logo Settings
$logo-width: rem-calc(64);
$logo-height: rem-calc(64);

$logo-footer-width: rem-calc(43);
$logo-footer-height: rem-calc(40);

// Content Width and Master Element Heights
$content-width: rem-calc(1920);
$footer-height: rem-calc(60);
$header-height: rem-calc(70);
$main-height: calc(100vh - 200px);
$main-height-large: calc(100vh - 130px);

// Font Settings
$font-family-default: "Avenir", sans-serif;
$font-family-headline: "MonumentExtended", sans-serif;
$font-size-large: rem-calc(18);
$font-size-default: rem-calc(16);
$font-size-small: rem-calc(14);
$font-line-height-large: rem-calc(28);
$font-line-height-default: rem-calc(24);
$font-line-height-small: rem-calc(20);

// Color Settings
$color-main: #000120;
$color-black: #282d46;
$color-grey: #bcbcbc;
$color-light-grey: #dbdbdb;
$color-white: #FFF;

$color-highlight: #3949ab;
$color-highlight-dark: #354085;
$color-link: #ffd149;
$color-link-hover: #ffd149;
// Transition Settings
$default-transition: all .4s;

// Breakpoints (min-width)
$breakpoint-medium: rem-calc(720);
$breakpoint-large: rem-calc(1024);

// Index Settings
$portrait-width: rem-calc(400);

// Border Radius
$border-radius: rem-calc(5);
