h1 {
  font-weight: 400;
  font-size: 14vw;
  line-height: 1;
  margin: 0;
  color: $color-light-grey;
  font-family: $font-family-headline;
  text-align: center;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 2px;
}

h2 {
  font-weight: 400;
  font-size: 3vw;
  line-height: 1;
  margin: 0;
  text-align: center;
  width: 100%;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: $color-link;

  strong {
    font-weight: 300;
    color: $color-highlight;
  }
}

h3 {
  font-weight: 300;
  font-size: rem-calc(20);
  margin: $space-large 0 $space-default;

  strong {
    font-weight: 300;
    color: $color-highlight;
  }
}

p {
  font-size: $font-size-default;
  margin: $space-small 0 $space-default;
  line-height: $font-line-height-default;

  strong {
    font-weight: normal;
    color: $color-highlight;
  }

  &.large {
    font-size: $font-size-large;
    line-height: $font-line-height-large;
  }

  &.small {
    font-size: $font-size-small;
    line-height: $font-line-height-small;
  }

  &:last-child {
    margin-bottom: 0;
  }
}
