// Large up
@media all and (min-width: $breakpoint-large) {
  h1 {
    font-size: rem-calc(180);
  }
  h2 {
    font-size: rem-calc(40);
    margin-top: -$space-default;
  }

  a {
    &.link:not(.active) {
      &:before {
        content: '';
        width: 0;
        position: absolute;
        height: rem-calc(1);
        left: 50%;
        transform: translateX(-50%);
        bottom: rem-calc(-1);
        transition: $default-transition;
        background-color: $color-link;
      }

      &:hover,
      &:active,
      &:focus {
        &:before {
          width: 100%;
          left: 0;
          transform: translateX(0);
          background-color: $color-link-hover;
        }
      }
    }
  }

  .row {
    padding: 0;
  }
}
