@import 'global/all';

.center-c {
  flex: 0 0 100%;
  max-height: calc(#{$main-height - 250px});
  margin: 0;
  align-items: center;
  justify-content: center;
}

.center-inner {
  width: auto;
  flex: 0;
  flex-wrap: wrap;
  justify-content: flex-end;
  display: flex;
}

.center-b {
  flex: 0 0 100%;
  padding: $space-xlarge 0 0;
  justify-content: center;
  align-items: center;
  display: flex;

  .button {
    opacity: 0.05;
    animation: fadeFront 1s forwards 1s;
  }
}

@media all and (min-width: $breakpoint-medium) {
  .center-c {
    .varen {
      max-height: calc(#{$main-height-large - 300px});
    }
  }
}
