@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: avenir;
    font-weight: 400;
    src: url(./assets/fonts/avenir.woff) format('woff');
  }
  @font-face {
    font-family: avenirheavy;
    src: url(./assets/fonts/avenir-heavy.woff) format('woff');
  }
  @font-face {
    font-family: EuclidSquare;
    font-weight: 400;
    src: url(./assets/fonts/EuclidSquare-Light.woff) format('woff');
  }
  @font-face {
    font-family: EuclidSquareMedium;
    src: url(./assets/fonts/EuclidSquare-Medium.woff) format('woff');
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: radial-gradient(99.77% 99.77% at 50% 0%, #292d47 0%, #000120 100%) !important;
}

.home-container {
  width: 100%;
  height: 100vh;
  position: relative;
}

.home-container .heading {
  font-family: 'EuclidSquare';
  letter-spacing: 4px;
}

.home-container .sub-heading {
  font-family: 'avenir';
  letter-spacing: 1px;
}

.home-container .nft {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  opacity: 0.3;
  object-fit: cover;
  object-position: top;
}

.about-container .nft {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.home-container .main-container {
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
    z-index: 10;
}

.links-container {
    z-index: 1;
}

.home-container .links-container {
  position: absolute;
  width: 100%;
  bottom: 10px;
}

.home-container .dropdown {
  background: radial-gradient(99.77% 99.77% at 50% 0%, #292d47 0%, #000120 100%) !important;
  opacity: 0.95;
  height: 100vh;
}

.home-container .dropdown .nav-links {
  height: 85vh;
}

.button:active {
  border: 1px solid #007aff !important;
}

.button,
.nav-link {
  transition: all 0.6s;
}
.nav-link {
  width: 134px !important;
  height: 42px !important;
  line-height: 1.5 !important;
}

.launch-app {
  line-height: normal !important;
}

.info {
  position: relative;
}

.leftArrow::after {
  content: ' ';
  position: absolute;
  color: white;
  right: 100%;
  bottom: 35%;
  border: 1px solid;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent #ffd149 transparent transparent;
}

.rightArrow::after {
  content: ' ';
  position: absolute;
  color: white;
  left: 100%;
  bottom: 35%;
  border: 1px solid;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent #ffd149;
}

.description-container {
    max-width: 1300px;
    margin: 0 auto;
}

.description-container .varenXLogo {
  width: 182px;
  height: 50px;
}

.description-container .card-container .title {
  letter-spacing: 2.4px;
  color: #ffffff;
}

.description-container .card-container .description {
  /* font-size: 3vmin; */
  letter-spacing: 1.5px;
  color: #dddddd;
}

.about-container {
  position: relative;
}

.about-container .heading-container {
  max-width: 800px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.about-container .heading-container .heading {
  letter-spacing: 2.4px;
  color: #ffffff;
}

.swap-container {
  max-width: 80%;
}

@media screen and (min-width: 320px) {
  .description-container .card-image {
    width: 100%;
    height: auto;
  }

  .description-container .varenXLogo {
    width: 109px;
    height: 30px;
  }

  .swap-image {
    width: 55px;
    height: 30px;
  }

  .home-container .main-container {
    top: 46%;
  }

  .info {
    position: relative;
  }

  .about-container .discord-card {
    width: 345px;
    height: 76px;
  }

  .about-container .discord-card .discord-join img {
    width: 10px;
    height: 7px;
  }

  .varenXFullLogo {
    width: 303px !important;
    height: 83px !important;
    margin-bottom: 12px;
  }

  .card-description {
    line-height: 19px;
    letter-spacing: 0.7px;
  }

  .card-title {
    line-height: 30px;
    letter-spacing: 1.2px;
  }
}

@media screen and (min-width: 768px) {
  .description-container .card-image {
    width: 100%;
    height: auto;
  }
  .swap-image {
    width: 93px;
    height: 51px;
  }

  .description-container .varenXLogo {
    width: 182px;
    height: 50px;
  }

  .about-container .discord-card {
    width: 642px;
    height: 144px;
  }

  .about-container .discord-card .discord-join img {
    width: 21px;
    height: 16px;
  }

  .home-container .main-container {
    top: 46%;
  }

  .info {
    position: relative;
  }

  .varenXFullLogo {
    width: 583px !important;
    height: 160px !important;
    margin-bottom: 18px;
  }

  .card-description {
    line-height: 33px;
    letter-spacing: 1.2px;
  }

  .card-title {
    line-height: 49px;
    letter-spacing: 1.92px;
  }

  .nav-link {
    width: auto !important;
    margin: 0 !important;
  }
}

@media screen and (min-width: 1280px) {
  .description-container .card-image {
    width: auto;
    max-width: 100%;
  }
  .swap-image {
    width: 116px;
    height: 64px;
  }

  .card-description {
    line-height: normal;
    letter-spacing: normal;
  }

  .card-title {
    line-height: normal;
    letter-spacing: normal;
  }

  .nav-link {
    width: 134px !important;
    height: 42px !important;
    line-height: 1.5 !important;
  }
}

.ripple {
  background-color: transparent;

  overflow: hidden;
  box-shadow: none;
  cursor: pointer;
}
.ripple:hover {
  color: #e6e6e6;
}
.ripple::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.6s;
}
.ripple:hover::before {
  opacity: 0;
}
.ripple::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 200px;
  background-color: #ffffff0f;
  border-color: transparent;
  border-radius: 50%;
  transform: translate(-10px, -70px) scale(0.1);
  opacity: 0;
  z-index: -1;
  transition: transform 0.6s, opacity 0.6s, background-color 0.6s;
}
.ripple:hover::after {
  opacity: 1;
  transform-origin: 100px 100px;
  transform: scale(1) translate(-10px, -70px);
  transition: transform 0.6s, opacity 0.6s, background-color 0.6s;
}
